html {
  background-color: red;
}

.App {
  text-align: center;
}

/*form {
  background-color: rgb(0, 0, 0);
}*/

@font-face {
  font-family: 'SanMarino';
  src: url(fonts/san-marino-beach-font/SanMarinoBeach-2OOLW.ttf) format('truetype');
}

.balanceMain {
  font-family: 'SanMarino';
  font-size: 100px;
  position: relative;
}

/* Labels for all the inputs */
label {
  display: inline-block;
  text-align: right;
  width: 250px;
  font-size: 50px;
  font-family: 'SanMarino';
}

.enterTransaction {
  font-family: 'SanMarino';
  font-size: 50px;
}
/************/
/****INPUTS***/
/**************/

.nameInput {
  position: relative;
  border-radius: 5px;
  font-family: 'Franklin Gothic';
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: black;
}

.amountInput {
  position: relative;
  border-radius: 5px;
  font-family: 'Franklin Gothic';
  font-size: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: black;
  color: white;
}

/*Makes sure the label is properly aligned with the text area (by default it isn't)*/
.comment * {
  vertical-align: top;
}

.commentInput {
  position: relative;
  border-radius: 5px;
  font-family: 'Franklin Gothic';
  font-size: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: black;
  color: white;
}

.dateInput {
  background-color: black;
  color: white;
  position: relative;
  border-radius: 5px;
  font-family: 'Franklin Gothic';
  font-size: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
}
/***Change the calendar icon***/
[type="date"]::-webkit-calendar-picker-indicator {
  background-color: red;
}

/****SUBMIT BUTTON ****/
.transactionSubmit {
  position: relative;
  font-family: 'Franklin Gothic';
  color: white;
  background-color: black;
  font-size: 40px;
  margin-bottom: 20px;
  transform: skew(-25deg) rotate(0deg);
  border-width: 5px;
  border-color: white;
  border-style: solid;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.parallelogram {
  width: 100px;
  height: 30px;
  background: rgb(0, 0, 0);
  transform: skew(-25deg) rotate(0deg);
}

.parallelogram2 {
  position: relative;
  bottom: 1em;
  width: 100px;
  height: 30px;
  background: rgb(255, 255, 255);
  transform: skew(-25deg) rotate(0deg);
}

/****************/
/**TRANSACTIONS**/
/****************/
.date {
  font-family: 'SanMarino';
  color: black;
  font-size: 50px;
}

.transactionList {
  list-style-type: none;
  padding-left: 0px;
}

.transaction {
  background-color: black;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  color: white;
  font-family: 'Franklin Gothic';
  margin-left: 10%;
  margin-right: 10%;
}

.garbage {
  width: 50px;
  height: 50px;
  background: red;
}
