html {
  background-color: red;
}

.App {
  text-align: center;
}

@font-face {
  font-family: 'SanMarino';
  src: url(fonts/san-marino-beach-font/SanMarinoBeach-2OOLW.ttf) format('truetype');
}

/**ERROR MESSAGE**/
.errorMessage {
  border-width: 5px;
  border-color: white;
  border-style: solid;
  background-color: black;
  position: absolute;
  font-family: 'Franklin Gothic';
  color: white;
}

.errorMessage p {
  
}

/***************/
/***SCROLLBAR***/
/***************/

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(196, 196, 196);
}
/************/
/***NAVBAR***/
/************/

#navbar {
  position:fixed;
  background-color: black;
  width:100%;
  display:block;
  top:-50px;
  transition: top 0.3s;
  z-index: 20; /* Makes navbar appear in front of other elements*/
}

#navbar a {
  color: white;
  float: right;
  display: block;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'SanMarino';
}

#navbar .balance {
  color: white;
  display: block;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  margin: auto;
  position: absolute;
  margin-left: 50%;
  font-family: 'SanMarino';
}

#navbar a:hover {
  background-color: white;
  color: black;
}

/* BURGER SETTINGS */
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: transform 0.2s ease-in;
}

.exit .line1 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transform: rotate(-45deg) translate(0px,5px);
  transition: transform 0.2s ease-in;
}

.exit .line2 {
  opacity: 0;
}

.exit .line3 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transform: rotate(45deg) translate(0px,-6px);
  transition: transform 0.2s ease-in; 
}

/***BALANCE***/

.balanceMain {
  font-family: 'SanMarino';
  font-size: 100px;
  position: relative;
}

/* Labels for all the inputs */
label {
  display: inline-block;
  text-align: right;
  width: 250px;
  font-size: 50px;
  font-family: 'SanMarino';
}

/************/
/****INPUT FORM***/
/**************/

.transactionForm {
  background-color: black;
  margin-left: 10%;
  margin-right: 10%;
  border-width: 5px;
  border-style: solid;
  border-color: white;
  color: white;
}

.enterTransaction {
  font-family: 'SanMarino';
  font-size: 50px;
}

.nameInput {
  position: relative;
  border-radius: 5px;
  font-family: 'Franklin Gothic';
  font-size: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: red;
  color: white;
}

.amountInput {
  position: relative;
  border-radius: 5px;
  font-family: 'Franklin Gothic';
  font-size: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: red;
  color: white;
}

/*Makes sure the label is properly aligned with the text area (by default it isn't)*/
.comment * {
  vertical-align: top;
}

.commentInput {
  position: relative;
  border-radius: 5px;
  font-family: 'Franklin Gothic';
  font-size: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: red;
  color: white;
}

.dateInput {
  background-color: red;
  color: white;
  position: relative;
  border-radius: 5px;
  font-family: 'Franklin Gothic';
  font-size: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
}
/***Change the calendar icon***/
[type="date"]::-webkit-calendar-picker-indicator {
  background-color: red;
}

/****SUBMIT BUTTON ****/
.transactionSubmit {
  position: relative;
  font-family: 'Franklin Gothic';
  color: white;
  background-color: black;
  font-size: 40px;
  margin-bottom: 20px;
  transform: skew(-25deg) rotate(0deg);
  border-width: 5px;
  border-color: white;
  border-style: solid;
}

.transactionSubmit:hover {
  background-color: white;
  color: black;
}

.parallelogram {
  width: 100px;
  height: 30px;
  background: rgb(0, 0, 0);
  transform: skew(-25deg) rotate(0deg);
}

.parallelogram2 {
  position: relative;
  bottom: 1em;
  width: 100px;
  height: 30px;
  background: rgb(255, 255, 255);
  transform: skew(-25deg) rotate(0deg);
}

/****************/
/**TRANSACTIONS**/
/****************/
.date {
  font-family: 'SanMarino';
  color: black;
  font-size: 50px;
}

.transactionList {
  list-style-type: none;
  padding-left: 0px;
}

.transaction {
  background-color: black;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  color: white;
  font-family: 'Franklin Gothic';
  margin-left: 10%;
  margin-right: 10%;
}

.garbage {
  width: 50px;
  height: 50px;
  background: red;
}

.positive {
  color: rgb(79, 224, 65);
}

.negative {
  color: red;
}
