.App {
  text-align: center;
  background-color: rgb(58, 102, 248);
}

.parallelogram {
  width: 100px;
  height: 30px;
  background: rgb(0, 0, 0);
  transform: skew(-25deg) rotate(0deg);
}

.parallelogram2 {
  position: relative;
  bottom: 1em;
  width: 100px;
  height: 30px;
  background: rgb(255, 255, 255);
  transform: skew(-25deg) rotate(0deg);
}
